# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Otus-level-0.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Проекты\Unity\Otus-level-0\.idea\.idea.Otus-level-0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
